# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation_df = pd.read_csv('../output_data/cities.csv')
vacation_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = vacation_df[["Lat", "Lng"]]
humidity = vacation_df["Humidity"]
city_name = vacation_df["City"]

In [9]:


figure_layout = {
'width': '600px',
'height': '400px',
'border': '1px solid black',
'padding': '1px'
}


fig = gmaps.figure(layout=figure_layout, zoom_level=2, center=(0,0))
heatmap = gmaps.heatmap_layer(locations, weights=humidity)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='600px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
ideal_weather = vacation_df.loc[vacation_df["Max Temp"]> 70]
ideal_weather = vacation_df.loc[vacation_df["Max Temp"]< 80]
ideal_weather = vacation_df.loc[vacation_df["Wind Speed"]< 10]
ideal_weather = vacation_df.loc[vacation_df["Humidity"] < 40]
ideal_weather = vacation_df.loc[vacation_df["Cloudiness"] == 0]
ideal_weather = ideal_weather.dropna()
hotel_df = ideal_weather
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17
13,13,saskylakh,0,RU,1558378757,91,71.97,114.09,4.92,2.26
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08
...,...,...,...,...,...,...,...,...,...,...
527,527,tomatlan,0,MX,1558378894,59,19.93,-105.25,84.66,7.90
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df["Hotel Name"] = ""
parameter = 5000

for i in hotel_df.index: 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    lat = hotel_df.loc[i, "Lat"]
    lng = hotel_df.loc[i, "Lng"]
    location = f"{lat}, {lng}"
    params = {"location": location, "key": g_key, "type":"lodging", "keyword": "hotel", "radius": parameter}
    
    result = requests.get(base_url, params).json()
    print(f'Printing Index{i}')
    if result['status'] == 'ZERO_RESULTS':
        print(f'No Results for Index {i}.')
        hotel_name = f'No hotels in radius: {parameter}'
    else: 
        hotel_name = result["results"][0]['name']
    hotel_df.loc[i, "Hotel Name"] = hotel_name
hotel_df

Printing Index3
No Results for Index 3.
Printing Index6
Printing Index11
Printing Index13
No Results for Index 13.
Printing Index26
Printing Index31
Printing Index33
No Results for Index 33.
Printing Index37
No Results for Index 37.
Printing Index56
Printing Index57
No Results for Index 57.
Printing Index70
Printing Index84
Printing Index88
Printing Index112
Printing Index114
Printing Index125
Printing Index129
Printing Index138
Printing Index139
Printing Index141
Printing Index142
Printing Index145
Printing Index168
Printing Index176
Printing Index179
No Results for Index 179.
Printing Index191
Printing Index192
Printing Index202
Printing Index214
Printing Index219
No Results for Index 219.
Printing Index220
No Results for Index 220.
Printing Index226
Printing Index244
Printing Index248
Printing Index251
No Results for Index 251.
Printing Index252
Printing Index259
Printing Index262
Printing Index263
No Results for Index 263.
Printing Index271
Printing Index297
Printing Index298
Printing Index299
Printing Index309
Printing Index314
Printing Index316
Printing Index340
Printing Index346
Printing Index359
Printing Index362
Printing Index365
Printing Index367
No Results for Index 367.
Printing Index371
Printing Index376
Printing Index391
Printing Index404
Printing Index412
Printing Index416
Printing Index422
Printing Index427
Printing Index433
No Results for Index 433.
Printing Index438
No Results for Index 438.
Printing Index444
Printing Index477
Printing Index500
Printing Index508
Printing Index518
Printing Index520
Printing Index527
Printing Index533
Printing Index538
Printing Index543
No Results for Index 543.
Printing Index545

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47,No hotels in radius: 5000
6,6,flinders,0,AU,1558378755,62,-34.58,150.85,60.01,11.41,Lakeview Hotel Motel
11,11,castro,0,CL,1558378756,70,-42.48,-73.76,48.20,9.17,Enjoy ChiloÃ©. Hotel De La Isla
13,13,saskylakh,0,RU,1558378757,91,71.97,114.09,4.92,2.26,No hotels in radius: 5000
26,26,colonelganj,0,IN,1558378759,14,27.13,81.70,94.20,5.08,Anand Hotel
...,...,...,...,...,...,...,...,...,...,...,...
527,527,tomatlan,0,MX,1558378894,59,19.93,-105.25,84.66,7.90,Hotel MisiÃ³n San Miguel
533,533,hakkari,0,FI,1558378896,46,61.34,23.75,69.80,5.82,Vaihmalan Hovi
538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24,ibis budget Toulon Centre
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,No hotels in radius: 5000
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05,B&B HOTEL

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)


# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='400px', padding='1px', width='600px'))